@model IEnumerable<cicaudittrail.Models.CicRequestResultsFollowed>
@{
    ViewBag.Title = "Liste suivis effectués";
}
@Scripts.Render("~/bundles/datatablejs")
@Styles.Render("~/Content/datatablecss")
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $("#suiviTable").dataTable({ bJQueryUI: false, sPaginationType: "full_numbers" });
    });
</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Liste des suivis effectués
            </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
 
@if (TempData["error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["error"]
    </div>
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["message"]
    </div>
}
@if (TempData["warning"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["warning"]
    </div>
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Détails requête
            </div>
            <div class="panel-body">
                <div class="row" style="margin-left: -15px">
                    <div class="col-lg-12">
                        <fieldset disabled>
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <label for="Code">
                                        Code
                                    </label>
                                    <input class="form-control" id="Code" type="text" placeholder="@ViewData["CicRequest.Code"]"
            readonly>
                                </div>
                                <div class="col-xs-9">
                                    <label for="Code">
                                        Intitulé
                                    </label>
                                    <input class="form-control" id="Libelle" type="text" placeholder="@ViewData["CicRequest.Libelle"]"
            readonly>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Résultats suivis
            </div>
            <div class="panel-body">
                <div class="row" style="margin-left: -15px">
                    <div class="col-lg-12"> 
                            <table class="table table-striped table-bordered table-hover" id="suiviTable">
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DateCreated)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserCreated)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Comments)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
        {
                                    <tr>
                                        <td>
                                            @Html.ActionLink("Details", "Details", new { id = item.CicRequestResultsFollowedId })
                                        </td>
                                        <td>
                                            @String.Format("{0:g}", item.DateCreated)
                                        </td>
                                        <td>
                                            @item.UserCreated
                                        </td>
                                        <td>
                                            @item.Comments
                                        </td>
                                    </tr>
        }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 