@model cicaudittrail.Models.CicMessageMail

@{
    ViewBag.Title = "Consultation CicMessageMail";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Consultation CicMessageMail
            </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>  

@if (TempData["error"] != null) {
<div class="alert alert-danger" role="alert">
    @TempData["error"]
</div>
}

@if (TempData["message"] != null) {
<div class="alert alert-success" role="alert">
    @TempData["message"]
</div>
}

@if (TempData["warning"] != null) {
<div class="alert alert-warning" role="alert">
    @TempData["warning"]
</div>
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Basic Form Elements
            </div>
            <div class="panel-body">
                <div class="row" style="margin-left: -15px">
                    <div class="col-lg-12">
                        <fieldset disabled>
                             
                             
    
      <div class="form-group">
                            <label for="CicRequestResultsFollowed">
                                CicRequestResultsFollowed
                            </label>
                            <input class="form-control" id="CicRequestResultsFollowed" type="text" placeholder="@Html.DisplayTextFor(_ => Model.CicRequestResultsFollowed).ToString()"
            readonly>
                        </div>

    
      <div class="form-group">
                            <label for="MessageSent">
                                MessageSent
                            </label>
                            <input class="form-control" id="MessageSent" type="text" placeholder="@Model.MessageSent"
            readonly>
                        </div>

    
      <div class="form-group">
                            <label for="ObjetMessage">
                                ObjetMessage
                            </label>
                            <input class="form-control" id="ObjetMessage" type="text" placeholder="@Model.ObjetMessage"
            readonly>
                        </div>

    
      <div class="form-group">
                            <label for="DateMessageSent">
                                DateMessageSent
                            </label>
                            <input class="form-control" id="DateMessageSent" type="text" placeholder="@String.Format("{0:g}", Model.DateMessageSent)"
            readonly>
                        </div>

    
      <div class="form-group">
                            <label for="UserMessageSent">
                                UserMessageSent
                            </label>
                            <input class="form-control" id="UserMessageSent" type="text" placeholder="@Model.UserMessageSent"
            readonly>
                        </div>

    
      <div class="form-group">
                            <label for="MessageReceived">
                                MessageReceived
                            </label>
                            <input class="form-control" id="MessageReceived" type="text" placeholder="@Model.MessageReceived"
            readonly>
                        </div>

    
      <div class="form-group">
                            <label for="DateMessageReceived">
                                DateMessageReceived
                            </label>
                            <input class="form-control" id="DateMessageReceived" type="text" placeholder="@String.Format("{0:g}", Model.DateMessageReceived)"
            readonly>
                        </div>

    
      <div class="form-group">
                            <label for="UserResponseSent">
                                UserResponseSent
                            </label>
                            <input class="form-control" id="UserResponseSent" type="text" placeholder="@Model.UserResponseSent"
            readonly>
                        </div>

                        </fieldset> 
                    <p>
<button type="button" class="btn btn-primary">
    @Html.ActionLink("Modifier", "Edit", new { id=Model.CicMessageMailId })
     </button> 
     <button type="button" class="btn btn-default">
    @Html.ActionLink("Retour", "Index")
     </button> 
</p>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 


