@model cicaudittrail.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">Matricule</div>
    <div class="display-field">@Model.Matricule</div>

    <div class="display-label">Nom</div>
    <div class="display-field">@Model.Nom</div>

    <div class="display-label">Prenom</div>
    <div class="display-field">@Model.Prenom</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


