@*@model cicaudittrail.Models.LoginModel

@{
    ViewBag.Title = "Se connecter";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Utilisez un compte local pour vous connecter.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Formulaire de connexion</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Se connecter" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") si vous n’avez pas de compte.
    </p>
}
</section>

<section class="social" id="socialLoginForm">
    <h2>Utilisez un autre service pour vous connecter.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
*@ @*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
@{
    Layout = null;
}
@model cicaudittrail.Models.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <!--Javascript -->
    @Scripts.Render("~/bundles/jquery")
    <!--CSS -->
    @Styles.Render("~/Content/bootstrapcss")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="headerImgdiv">
                        <img class="headerImg" src="~/Content/images/ariactrl.png" />
                    </div>
                    @if (TempData["error"] != null)
                    {
                        <div style="">
                        </div>
                        <div class="alert alert-danger" role="alert">
                            @TempData["error"]
                        </div>
                    }
                    @if (TempData["message"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["message"]
                        </div>
                    }
                    @if (TempData["warning"] != null)
                    {
                        <div class="alert alert-warning" role="alert">
                            @TempData["warning"]
                        </div>
                    }
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Bienvenue</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <!--<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>-->
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Compte windows" })
                                    @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "has-error" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Mot de passe windows" })
                                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "has-error" })
                                </div>
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.RememberMe) Mémoriser le mot de passe ?
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input class="btn btn-lg btn-login btn-block" type="submit" value="Se connecter">
                            </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        
        <!-- JavaScript -->  
        @Scripts.Render("~/bundles/bootstrapjs")
    }
</body>
</html>
